.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    
}


td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #ddd;
    cursor:pointer;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: blue;
    color: white;
}

.actions {
    padding-bottom: 5px;
    float: right;
}

.btn {
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    isplay: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid blue;
}
.btn-form {
    display: inline-block;
}
.bottom {
    padding-top: 5px;
}

